.testimonial-group {
	margin: 10px 0 20px 0!important;
	padding: 0 0 10px 10px!important;
	overflow-x: auto;
}
.testimonial-group::-webkit-scrollbar-track {
 	border-radius: 10px;
 	background: #FFF;
 	box-shadow: 0 0 2px #CCC inset;
}

.testimonial-group::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

.testimonial-group > .row {
    margin-bottom: 0px;
    display: block;
    width: 540px;
}

.testimonial-group > .row > .col-lg-3 {
    display: inline-block;
    float: left;
    width: 130px;
    padding: 0;
    height: 230px;
    margin-right: 5px;
    background: #FFF;
    position: relative;
}

p.ugc_text {
    font-size: 12px;
    margin-bottom: 10px!important;
}

.testimonial-group > .row > .col-lg-3 > .row {
    margin: 0;
}

.testimonial-group > .row > .col-lg-3 > .row > img {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 0;
    vertical-align: unset;
}

.testimonial-group > .row > .col-lg-3 > input.add-image {
    width: 128px;
    height: 100%;
    top: 0;
    vertical-align: unset;
    position: absolute;
}

div.show-image div.btn {
    display: none;
}

.part-link-panel {
    height: 29px;
    background: #F7F7F7;
    display: hidden;
    padding: 5px;
    width: 123px;
    position: relative;
}

.image_sort_value {
    display: none;
}

.last-row {
    display: none;
}

ul.service-bar {
    margin-bottom: 10px;
    width: 100%;
    float: left;
    border-bottom: 3px solid #EAEAEA;
}

ul.service-bar > li > a {
    border-style: none;
}

ul.service-bar > li.active {

    background: #FFF;
    border-bottom: 3px solid #EC5D00;
    margin-bottom: -3px;

}

ul.service-bar > li.active > a {

    border-style: none !important;
}

.daily-chart .no-report {
    margin: 65px 0;
}

.well-custom {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.ugcSetTitle {
    margin-bottom:30px!important;
    font-weight :bold!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kpiResult {
    margin-bottom:30px;
}

.kpiResult h4 {
    font-weight: bold;
}

.kpiResult h5 {
    font-weight: bold;
}

.testimonial-group .image-panel .row{
	margin: 0;
	padding: 0;
}
.testimonial-group .image-panel .first-row {
	margin-top: 140px;
}