#composer and node
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json

#vagrant
/vm/CentOS-6.5-x86_64-v20140110.box
vm/.vagrant

#env
.env

#editor
_ide_helper.php
_ide_helper_models.php
Casanova.iml
.idea
docs/ERD.mwb.bak

#cache
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/images/*
storage/videos/*
storage/logs
ngrok

#local
config/local
prediction

#bower dir
public/bower_components
public/images/edited_images

#osx
._*
.DS_Store
.php_cs.cache
/nbproject/private/
nbproject/
public/_public_storage
